* text=auto eol=lf

*.blade.php diff=html
*.css diff=css
*.html diff=html
*.md diff=markdown
*.php diff=php
*.css linguist-detectable=false
*.php linguist-detectable=false
*.js linguist-detectable=true

/.github export-ignore
CHANGELOG.md export-ignore
.styleci.yml export-ignore
